@for (itemi of orders$ |async; track itemi.id_cmd) {
    <app-command-item [order]="itemi"  />
    <button 
        class="btn btn-success" 
        (click)="selectOrderItem(itemi.id_cmd)" 
        data-toggle="modal" 
        data-target="#factureModal"
    ></button>
}

@if (order) {
    
    <div class="modal fade" id="factureModal" tabindex="-1" aria-labelledby="factureModalLabeled" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex">
                    <div class="num d-flex flex-column">
                        <div class="id-fac"> {{order.id_cmd}} </div>
                        <div class="date-time"> {{order.date}} </div>
                    </div>
                    <div class="info d-flex flex-column ">
                        <div class="nom"> {{order.client}} </div>
                        <div class="localisation"> {{order.localisation}} </div>
                    </div>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm" >
                        <thead>
                            <tr>
                                <th scope="col" >QTE</th>
                                <th scope="col" >DESIGNATION</th>
                                <th scope="col" >P. UNIT</th>
                                <th scope="col" >P. TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of order.contenu; track item.id_prod) {
                                <tr>
                                    <th scope="row" > {{item.quantite}} </th>
                                    <td scope="row" > {{item.designation}} </td>
                                    <td scope="row" > {{item.pUnit | currency: '': '':'1.0-0' | replace:',':'.'}} </td>
                                    <td scope="row" > {{item.pTotal | currency: '': '':'1.0-0' | replace:',':'.'}} </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3" style="text-align: center;" >TOTAL</td>
                                <th> {{order.montant| currency: '': '':'1.0-0' | replace:',':'.'}} FCFA </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="annule">
                        <button class="btn btn-warning" data-dismiss="modal" >Modifier la commande</button>
                    </div>
                </div>
    
            </div>    
        </div>
    
    </div>
}