.app{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.containers{
    padding-bottom: 70px;
}

.the-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: white;
    text-align: center;
}