<!-- <app-header/> -->
<!-- <app-landing-page></app-landing-page> -->
<!-- <router-outlet /> -->
<div class="app">
  <div class="the-header">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a routerLink="" class="navbar-brand">RamaCos</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <!-- <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLink="home">Accueil </a>
        </li> -->
        @if (showAdminBoard) {
          <li class="nav-item">
            <a class="nav-link" routerLink="admin">Admin</a>
          </li>
        }
        @if (showModeratorBoard) {
          <li class="nav-item">
            <a  class="nav-link" routerLink="mod">Moderator Board</a>
          </li>
        }
        @if (isLoggedIn) {
          <li class="nav-item">
            <a  class="nav-link box" routerLink="user">Boutique</a>
          </li>
        }
      </ul>
  
      @if (!isLoggedIn) {
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Se connecter</a>
          </li>
        </ul>
      } @else {
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a  class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      }
    </nav>
  </div>
  
  <div class="containers">
    <router-outlet></router-outlet>
  </div>

  <div class="the-footer">
    <app-footer  />
  </div>
</div>
