<div class="card">
    <div class="promo">
        <div class="head">
            <h3>En Promotion</h3>
            <span>Voir plus</span>
        </div>
        <div class="promo-container d-inline-flex justify-content-around p-2 flex-row mb-3">
            <div class="promo-item"></div>
            <div class="promo-item"></div>
            <div class="promo-item"></div>
            <div class="promo-item"></div>
        </div>
    </div>
    <div class="achaland">
        <app-product-list/>
    </div>
</div>
