<div class="card">
    <form (ngSubmit)="onSubmit()">
        <input  type="text" [(ngModel)]="name"  name="name" placeholder="Nom commerciale" required >
        <!-- <input  type="text" [(ngModel)]="localisation"  name="name" placeholder="Localisation" required >
        <input type="tel" [(ngModel)]="tel1" placeholder="Numéro dee téléphone">
        <input type="tel" [(ngModel)]="tel2" placeholder="Autre contact"> -->
        <input type="password"  [(ngModel)]="password"  name="password" placeholder="Mot de passe" required >
        <input type="password" name="" id="confirmPassword" placeholder="Confirmer le mot de passe">
        <!-- @if () {} -->
        <div class="submit">
            <button type="submit">S'inscrire</button>
        </div>
    </form>
</div>