<section class="hero-img">
    <div class="hero-text">
        <H1>votre Grossiste en ligne de produits cosmétics</H1>
        <div class="loui">
            @if (!isLoggedIn) {
                <button class="btn btn-success btn-lg box" routerLink="login" >Entrer dans la boutique <br> Enter the online store</button>
            } @else {
                <button class="btn btn-success btn-lg box" routerLink="user" >Entrer dans la boutique <br> Enter the online store</button>
            }
        </div>
    </div>
</section>
<section style="margin-top: 20px;" >
    <app-carousel 
        [images]="carouselImages"
        [speed]="1"
        direction="left">  
    </app-carousel>
</section>
<section>
    <p>commandez tout vos produits et faites-vous livrer en moins de 24H</p>
    <p style="font-style: italic;" >Order all your products and get them delivered in under 24 hours!</p>
</section>

<!-- <app-product-list /> -->