<div class="product-item d-flex" >
    <div class="p-1 product-img bd-highlight  ">
        <div class="card card-img">
            <img [src]="'images/'+produit.image" [alt]="produit.image">
        </div>
    </div>
    <div class="product-detail d-flex flex-column"  >
        <div class="product-name">
            @if (produit.type === 'Divers') {
                <div class="product-info">{{produit.marque}}</div>
            }@else {
                <div class="product-info">{{produit.type}} {{produit.marque}}</div>
            }
            <hr>
        </div>
        <div class="product-elt d-flex">
            <div class="product-descr bd-highlight flex-fill d-flex flex-column ">
                <div class="product-info">{{produit.taille }} {{produit.grammage}}</div>
                <div class="product-info price"> {{produit.prix | currency: '': '':'1.0-0' | replace:',':'.'}} FCFA</div>
            </div>
            <div class="product-qte bd-highlight flex-fill qtite">
                <form [formGroup]="quanti" action="">
                    <div class="container d-flex ">
                        <div class="flex-fill">
                            <button class="numM" type="button" (click)="moins()" >-</button>
                        </div>
                        <div class="flex-fill">
                            <input type="number" name="qte" id="qte" [formControl]="qte" min="0">
                        </div>
                        <div class="flex-fill">
                            <button class="numP" type="button" (click)="add()" >+</button>
                        </div>
                    </div>
                </form>
                <div class="mini-total">
                    @if (somme$ | async; as somme) {
                        @if (somme) { {{somme | currency: '': '':'1.0-0' | replace:',':'.'}} fcfa }
                        @else { 0 fcfa }
                    } @else { 0 fcfa }
                    
                </div>
            </div>
        </div>
    </div>
    
</div>