.product-item{
    padding: 0 7px;
    margin: 7px 0;
    background-color: #EDF2F4;

    hr{
        margin-top: 0;
        margin-bottom: 7px;

    }

    .product-img{
        width: 20%;
    }

    .product-detail{
        width: 80%;
    }

    .product-descr{
        width: 50%;
    }

    .card{
        img{
            width: 100%;
        }
    }

    .card-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .price{
        background-color: #003049;
        color: white;
        font-weight: 600;
        border-radius: 0 10px 10px 0 ;
        padding: 0 10px;
        width: fit-content;
    }

    .product-elt{
        padding-bottom: 7px;
    }

    .qtite{
        form{
            .container{
                padding: 0;

                .numP, .numM{
                    border: none;
                    background-color: #894B4B;
                    color: white;
                    margin-left: 3px;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: larger;
                }
                .numM {
                    margin-left: 0;
                    margin-right: 3px;
                }
            }
            width: 30px;
            height: 50%;
            padding-left: 7px;
            input{
                width: 28px;
            }
        }
        .mini-total{
            font-size: smaller;
            margin-top: 7px;
            background-color: white;
            border-radius: 10px;
            color: #003049;
            padding-left: 7px;
        }
    }
}