.total{
    z-index: 90;
    position: sticky;
    top: 0;
    background-color: #FF9800;
    padding: 20px 0;
    .total-value{
        margin-left: 15px;
        padding: 7px;
        background-color: #ffffff;
        color: #003049;
        font-weight: 700;
        border-radius: 10px;
    }
    .facture{
        margin-right: 15px;
    }
}

.modal{
    .btn{
        margin: 3px;
        padding: 3px;
    }
}