<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      @if (!isSuccessful) {
        <form
        [formGroup]="newClient"
        name="form"
        novalidate
      >
        <div class="form-group">
          <input
            placeholder="Nom commercial"
            type="text"
            class="form-control"
            formControlName="username"
            autocomplete="username"
          />
          @if (newClient.controls['username'].invalid && newClient.controls['username'].touched) {
            <div class="error-message">Le nom est requis</div>
          }
        </div>

        <div class="form-group">
          <input
            placeholder="Mot de passe"
            type="password"
            class="form-control"
            formControlName="password"
            autocomplete="new-password"
          />
        </div>
        @if (newClient.controls['password'].invalid && newClient.controls['username'].touched){
          <div class="error-message">
            @if (newClient.controls['password'].hasError('required')) {
              Le mot de passe est requis
            }
            @if (newClient.controls['password'].hasError('minlength')) {
              Minimum 6 caractères
            }
          </div>
        }

        <div class="form-group">
          <input
            placeholder="Confirmer le mot de passe"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
          />
        </div>
        @if (newClient.hasError('passwordMismatch') && newClient.controls['confirmPassword'].touched) {
          <div class="form-group">
            Les mots de passe ne correspondent pas.
          </div>
        }


        <div class="form-group">
          <input
            placeholder="Localisation"
            type="text"
            class="form-control"
            formControlName="localisation"
            autocomplete="localisation"
          />
          @if (newClient.controls['localisation'].invalid && newClient.controls['localisation'].touched) {
            <div class="error-message">La localisation est requise</div>
          }
        </div>


        <div class="form-group">
          <input
            placeholder="Numéro de téléphone"
            type="tel"
            class="form-control"
            formControlName="tel1"
            autocomplete="tel1"
          />
          @if (newClient.controls['tel1'].invalid && newClient.controls['tel1'].touched) {
            <div class="error-message">
              @if (newClient.controls['tel1'].hasError('required')) {
                Le numéro de téléphone est requis
              }
              @if (newClient.controls['tel1'].hasError('pattern')) {
                Format invalide (9 chiffres requis)
              }
            </div>
          }
        </div>

        <div class="form-group">
          <input
            placeholder="Autre numéro Téléphone"
            type="tel"
            class="form-control"
            formControlName="tel2"
            autocomplete="tel2"
          />
          @if (newClient.controls['tel2'].touched) {
            <div class="error-message">
              @if (newClient.controls['tel2'].hasError('pattern')) {
                Format invalide (9 chiffres requis)
              }
            </div>
          }
        </div>


        

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="!newClient.valid" >S'inscrire</button>
        </div>
      </form>
      } @else {
      <div class="alert alert-success">Your registration is successful!</div>
      }
    </div>
  </div>